## Урок 2
### Задача 1
    Скачать файл в уроке
    Считать данные с помощью pandas
    Вывести на экран первые 5 строк
    Посмотреть на описание признаков и на их содержание

In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('kc_house_data.csv')

df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

### Задача 2
    Проведите первичный анализ данных
    Изучите типы данных
    Найдите количество пропущенных ячеек в данных
    Посчитайте основные статистики по всем признакам и поизучайте их
    Пишите выводы

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.5+ MB

Пропусков данных нет. Хорошо бы преобразовать некоторые типы данных.

In [36]:
df['date'] = pd.to_datetime(df['date'])
df['bathrooms'] = df['bathrooms'].astype('int64')
df['floors'] = df['floors'].astype('int64')
df['waterfront'] = df['waterfront'].astype('bool')
df['view'] = df['view'].astype('bool')
df['view'] = df['view'].astype('bool')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  datetime64[ns]
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  int64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  int64
 8   waterfront     21613 non-null  bool
 9   view           21613 non-null  bool
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: bool(2), datetime64[ns](1), float64(3), int64(15)
memory usage: 3.2 MB

In [4]:
df.describe()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,2.161300e+04,2.161300e+04,21613.000000,21613.000000,21613.000000,2.161300e+04,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000
mean,4.580302e+09,5.400881e+05,3.370842,1.749734,2079.899736,1.510697e+04,1.446213,3.409430,7.656873,1788.390691,291.509045,1971.005136,84.402258,98077.939805,47.560053,-122.213896,1986.552492,12768.455652
std,2.876566e+09,3.671272e+05,0.930062,0.734873,918.440897,4.142051e+04,0.551894,0.650743,1.175459,828.090978,442.575043,29.373411,401.679240,53.505026,0.138564,0.140828,685.391304,27304.179631
min,1.000102e+06,7.500000e+04,0.000000,0.000000,290.000000,5.200000e+02,1.000000,1.000000,1.000000,290.000000,0.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000
25%,2.123049e+09,3.219500e+05,3.000000,1.000000,1427.000000,5.040000e+03,1.000000,3.000000,7.000000,1190.000000,0.000000,1951.000000,0.000000,98033.000000,47.471000,-122.328000,1490.000000,5100.000000
50%,3.904930e+09,4.500000e+05,3.000000,2.000000,1910.000000,7.618000e+03,1.000000,3.000000,7.000000,1560.000000,0.000000,1975.000000,0.000000,98065.000000,47.571800,-122.230000,1840.000000,7620.000000
75%,7.308900e+09,6.450000e+05,4.000000,2.000000,2550.000000,1.068800e+04,2.000000,4.000000,8.000000,2210.000000,560.000000,1997.000000,0.000000,98118.000000,47.678000,-122.125000,2360.000000,10083.000000
max,9.900000e+09,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.000000,5.000000,13.000000,9410.000000,4820.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000

Некоторые выводыы по основным статистикам:
1. Средняя стоимость 75000 но медиана 450000. Есть сильно дорогие дома.
2. Чаще дома с тремя спальнями. Но есть и с 33...
3. Ванных поменьше. Как правило на одну-две, чем спален.
4. Средняя и мелианная площадь в целом корелуруют с ценой.
5. Дома чаще одноэтажные и в средней кондиции. Grade тожде средний.
6. Как правило, дома без подвала и построены около 1975 года.
7. Можно построить карту домов, поанализировать пространственную плотность и тд.

### Задача 3
Ответьте на несколько вопросов
1. В каком диапазоне изменяются стоимости недвижимости?

In [5]:
min_price = df['price'].min()
max_price = df['price'].max()

print(f'Цена меняется в диапазоне от {min_price} до {max_price}')

Цена меняется в диапазоне от 75000.0 до 7700000.0

2. Какую долю в среднем занимают жилая площадь от всей площади по всем домам?

In [6]:
mean_living_area = (df['sqft_living'] / df['sqft_lot']).mean()

print(f'В среднем жилая площадь занимает {np.round(100.0 * mean_living_area, 1)} % от общей')

В среднем жилая площадь занимает 32.4 % от общей

3. Как много домов с разными этажами в данных?

In [7]:
df["floors"].value_counts()

1    12590
2     8402
3      621
Name: floors, dtype: int64

4. Насколько хорошие состояния у домов в данных?

In [8]:
df["condition"].value_counts(normalize=True)

3    0.649193
4    0.262759
5    0.078703
2    0.007958
1    0.001388
Name: condition, dtype: float64

65% домов в среднем состоянии, 26% получше, 8% отличных, 0.8% не очень и совсем мало совсем плохих

5. Найдите года, когда построили первый дом, когда построили последний дом в данных?

Если смотреть по индексу в таблице, то

In [9]:
f"Первый дом построен в {df['yr_built'].iloc[0]} году, а последний в {df['yr_built'].iloc[-1]}"

'Первый дом построен в 1955 году, а последний в 2008'

Если смотреть по хронологии, то

In [14]:
f"Первый дом построен в {df['yr_built'].min()} году, а последний в {df['yr_built'].max()}"

'Первый дом построен в 1900 году, а последний в 2015'

### Задача 4
Ответьте на несколько вопросов

1. Сколько в среднем стоят дома, у которых 2 спальни?
2. Какая в среднем общая площадь домов, у которых стоимость больше 600 000?
3. Как много домов коснулся ремонт?
4. Насколько в среднем стоимость домов с оценкой grade домов выше 10 отличается от стоимости домов с оценкой grade меньше 4?

In [28]:
print(f"Средняя цена домов с двумя спальнями {np.round(df[df['bedrooms'] == 2]['price'].mean(), 1)}")
print(f"Средняя общая площадь домов со стоимость больше 600000 {np.round(df[df['price'] > 600000]['sqft_lot'].mean(), 1)} кв футов")
print(f"Всего {len(df[df['yr_renovated'] > 0])} домов после ремонта")
print(f"Стоимость домов с grade > 10 в среднем отличается от стоимость домов с grade менее 4 на {np.abs(np.round(df[df['grade'] > 10]['price'].mean() - df[df['grade'] < 4]['price'].mean(), 1))}")

Средняя цена домов с двумя спальнями 401372.7
Средняя общая площадь домов со стоимость больше 600000 20442.5 кв футов
Всего 914 домов после ремонта
Стоимость домов с grade > 10 в среднем отличается от стоимость домов с grade менее 4 на 1488885.1

### Задача 5
Ответьте на несколько вопросов
1. Выберите дом клиенту.
Клиент хочет дом с видом на набережную, как минимум с тремя ванными и с подвалом. Сколько вариантов есть у клиента?

In [45]:
a = df[(df['waterfront'] == True) & (df['bathrooms'] >= 3) & (df['sqft_basement'] > 0)]

len(a)

41

2. Выберите дом клиенту
Клиент хочет дом либо с очень красивым видом из окна, либо с видом на набережную, в очень хорошем состоянии и год постройки не меньше 1980 года. В какой ценовом диапазоне будут дома?

In [46]:
a = df[(df['waterfront'] | df['view']) & (a['grade'] == 5) & (a['yr_built'] >= 1980)]

len(b)

0

3. Выберите дом клиенту
Клиент хочет дом без подвала, с двумя этажами, стоимостью до 150000. Какая оценка по состоянию у таких домов в среднем?

In [44]:
set = df[(df['sqft_basement'] == 0) & (df['floors'] == 2) & (df['price'] <= 150000)]

print(np.round(set['price'].mean(), 1))

131928.6